@model SportsHall.Web.ViewModels.CoachEditViewModel

<div class="container d-flex justify-content-center mt-5">
    <div class="card p-4" style="width: 50rem;">
        <h2 class="text-center">Edit Coach</h2>
        <form asp-action="Edit" method="post">

            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control" type="number" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="Expirience"></label>
                <textarea asp-for="Expirience" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Expirience" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>


            <div class="form-group mt-4 d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

