@model IEnumerable<SportsHall.Web.ViewModels.SportsViewModel>

<div class="row">
    @foreach (var sport in Model)
    {
        <div class="card" style="width: 18rem; margin: 1rem;">
            <img src="@sport.ImageUrl" class="card-img-top sport-image" alt="...">
            <div class="card-body">
                <h5 class="card-title">@sport.Name</h5>
                <div class="d-flex justify-content-end">
                    <a asp-controller="Sport" asp-action="Details" asp-route-id="@sport.Id" class="btn btn-primary">Learn more</a>
                </div>
            </div>
        </div>
    }
</div>


